In [9]:
# load the data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
# load the data
data = pd.read_csv('pet_export.csv')
data.head()

,Unnamed: 0,houseType,petsVaccinated,familySupport,allergies,petsNeutered,liveAlone,fullname,currentPetTypes,petsAllowed,...,Lot,Tala,Mita,Eagle,Menchie,Tali,Usagi,Tiktok,Blessing,Violet
0,0,condo,yes,no,no,no,no,Julia Chua,['mixed_dog'],yes,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,1,condo,yes,yes,no,yes,no,Rowhe Siy,['mixed_cat'],yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,house with backyard,NaN,no,yes,NaN,no,Gerard Ambrocio,[],yes,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
3,3,house with backyard,NaN,yes,no,NaN,no,Rica Angela Lumbang,[],yes,...,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,townhouse,NaN,no,yes,NaN,no,Allan Tan,[],yes,...,NaN,0.0,NaN,1.0,NaN,NaN,0.0,NaN,NaN,1.0

In [14]:
# segregate user features from the pet swipe
user_features = data[['houseType', 'petsVaccinated','familySupport','allergies','petsNeutered', 'liveAlone', 'fullname', 'currentPetTypes', 'petsAllowed', 'about', 'timestamp', 'hasPets','childrenBelow12','uid']]
print(user_features.head())

# all other columns are pet swipe
pet_swipe = data.drop(['Unnamed: 0', 'houseType', 'petsVaccinated','familySupport','allergies','petsNeutered', 'liveAlone', 'currentPetTypes', 'petsAllowed', 'about', 'timestamp', 'hasPets','childrenBelow12','uid'], axis=1)
print(pet_swipe.head())

             houseType petsVaccinated familySupport allergies petsNeutered  \
0                condo            yes            no        no           no
1                condo            yes           yes        no          yes
2  house with backyard            NaN            no       yes          NaN
3  house with backyard            NaN           yes        no          NaN
4            townhouse            NaN            no       yes          NaN

  liveAlone             fullname currentPetTypes petsAllowed  \
0        no           Julia Chua   ['mixed_dog']         yes
1        no            Rowhe Siy   ['mixed_cat']         yes
2        no     Gerard Ambrocio               []         yes
3        no  Rica Angela Lumbang              []         yes
4        no            Allan Tan              []         yes

                                               about  \
0                       I am a girl. And 7 years old
1                                               test
2                                   I don't have pet
3  I am living in San Pedro, Laguna and working a...
4  I really don't have pets and my wife and kids ...

                          timestamp hasPets childrenBelow12  \
0  2024-08-18 09:07:07.360000+00:00     yes             yes
1  2024-08-14 13:03:26.625000+00:00     yes              no
2  2024-08-15 05:16:33.581000+00:00      no              no
3  2024-08-15 05:41:30.173000+00:00      no              no
4  2024-08-15 03:29:57.412000+00:00      no              no

                    uid
0  2RUwYE3RBT2SFgpJdYqc
1  30b1WyU5AyFxJsYkbIn4
2  4ExeWR50YmpclFxDjv5h
3  4zi8rWewl6j5fMKo9piY
4  5lkwOlIgMfA4vGQCDU94
              fullname  Sasha  Whitey  Meldy  Haley  Lucy  Cow  Novy  Banoi  \
0           Julia Chua    NaN     NaN    NaN    NaN   NaN  NaN   NaN    1.0
1            Rowhe Siy    NaN     NaN    NaN    NaN   NaN  NaN   NaN    NaN
2     Gerard Ambrocio     NaN     1.0    1.0    1.0   NaN  1.0   NaN    1.0
3  Rica Angela Lumbang    0.0     0.0    NaN    NaN   NaN  NaN   NaN    NaN
4            Allan Tan    1.0     NaN    1.0    0.0   NaN  0.0   NaN    NaN

   Tiki  ...  Lot  Tala  Mita  Eagle  Menchie  Tali  Usagi  Tiktok  Blessing  \
0   NaN  ...  NaN   NaN   NaN    NaN      1.0   NaN    NaN     NaN       NaN
1   NaN  ...  NaN   NaN   NaN    NaN      NaN   NaN    NaN     NaN       NaN
2   1.0  ...  NaN   1.0   1.0    1.0      1.0   1.0    1.0     1.0       1.0
3   NaN  ...  0.0   NaN   NaN    0.0      NaN   NaN    NaN     NaN       NaN
4   NaN  ...  NaN   0.0   NaN    1.0      NaN   NaN    0.0     NaN       NaN

   Violet
0     NaN
1     NaN
2     NaN
3     NaN
4     1.0

[5 rows x 41 columns]

In [17]:
# count number of cell with value of 0 in each row
pet_swipe['dislike_count'] = pet_swipe.apply(lambda x: (x == 0).sum(), axis=1)

# count number of cell with value of 1 in each row
pet_swipe['like_count'] = pet_swipe.apply(lambda x: (x == 1).sum(), axis=1)

# all users with 0 like_count and sort by dislike_count
users = pet_swipe[(pet_swipe['like_count'] == 0) & (pet_swipe['dislike_count'] > 0)].sort_values(by='dislike_count', ascending=False)
print(users)

                       fullname  Sasha  Whitey  Meldy  Haley  Lucy  Cow  Novy  \
21                      No Pets    0.0     0.0    0.0    0.0   0.0  0.0   0.0
46                      Ron Lao    0.0     NaN    NaN    0.0   NaN  0.0   0.0
15                Francis Tall0    NaN     NaN    NaN    0.0   NaN  0.0   NaN
39      Irene Therese Patacsil     NaN     NaN    NaN    0.0   NaN  0.0   NaN
52  Michael Lawrence Castanares    NaN     NaN    NaN    0.0   NaN  0.0   NaN
28               Ezra Dela pena    NaN     NaN    NaN    0.0   NaN  0.0   NaN
9                        Camila    NaN     NaN    NaN    0.0   NaN  0.0   NaN
18                         dpgz    NaN     NaN    0.0    NaN   NaN  0.0   NaN
25               Morris Marquez    NaN     NaN    NaN    NaN   NaN  0.0   NaN
1                     Rowhe Siy    NaN     NaN    NaN    NaN   NaN  NaN   NaN
55                      Ron Lao    NaN     NaN    NaN    NaN   NaN  NaN   NaN
54          Francis Jether Siao    NaN     NaN    NaN    NaN   NaN  NaN   NaN
47             Gerard Ambrocio     NaN     NaN    NaN    NaN   NaN  NaN   NaN
33                   Julia Chua    NaN     NaN    NaN    NaN   NaN  NaN   NaN
41                    Rowhe Siy    NaN     NaN    NaN    NaN   NaN  NaN   NaN
38                       Camila    NaN     NaN    NaN    NaN   NaN  NaN   NaN
27                   Julia Chua    NaN     NaN    NaN    NaN   NaN  NaN   NaN
24               Chloe Borromeo    NaN     NaN    NaN    NaN   NaN  NaN   NaN
12             Mary June Ricana    NaN     NaN    NaN    NaN   NaN  NaN   NaN
56           Hector Louis Banda    NaN     NaN    NaN    NaN   NaN  NaN   NaN

    Banoi  Tiki  ...  Mita  Eagle  Menchie  Tali  Usagi  Tiktok  Blessing  \
21    0.0   0.0  ...   0.0    0.0      0.0   0.0    0.0     0.0       0.0
46    NaN   NaN  ...   NaN    0.0      NaN   0.0    NaN     NaN       NaN
15    NaN   NaN  ...   NaN    0.0      0.0   NaN    NaN     NaN       NaN
39    NaN   NaN  ...   NaN    0.0      0.0   0.0    NaN     0.0       NaN
52    0.0   NaN  ...   NaN    0.0      NaN   NaN    NaN     NaN       NaN
28    NaN   NaN  ...   0.0    0.0      NaN   NaN    0.0     NaN       NaN
9     NaN   NaN  ...   NaN    0.0      NaN   NaN    NaN     NaN       NaN
18    NaN   NaN  ...   NaN    0.0      NaN   NaN    NaN     NaN       NaN
25    0.0   NaN  ...   NaN    0.0      NaN   NaN    NaN     NaN       NaN
1     NaN   NaN  ...   NaN    NaN      NaN   NaN    NaN     NaN       NaN
55    NaN   NaN  ...   NaN    NaN      NaN   NaN    NaN     NaN       NaN
54    NaN   NaN  ...   NaN    NaN      NaN   NaN    NaN     NaN       NaN
47    NaN   NaN  ...   NaN    NaN      NaN   NaN    NaN     NaN       NaN
33    NaN   NaN  ...   NaN    NaN      NaN   NaN    NaN     NaN       NaN
41    NaN   NaN  ...   NaN    NaN      NaN   NaN    NaN     NaN       NaN
38    NaN   NaN  ...   NaN    NaN      NaN   NaN    NaN     NaN       NaN
27    NaN   NaN  ...   NaN    NaN      NaN   NaN    NaN     NaN       NaN
24    NaN   NaN  ...   NaN    NaN      NaN   NaN    NaN     NaN       NaN
12    NaN   NaN  ...   NaN    NaN      NaN   NaN    NaN     NaN       NaN
56    NaN   NaN  ...   NaN    NaN      NaN   NaN    NaN     NaN       NaN

    Violet  dislike_count  like_count
21     0.0             41           0
46     NaN             14           0
15     NaN             14           0
39     NaN             14           0
52     0.0             13           0
28     NaN             13           0
9      NaN             11           0
18     NaN             10           0
25     NaN              9           0
1      NaN              2           0
55     NaN              2           0
54     NaN              2           0
47     NaN              2           0
33     NaN              2           0
41     NaN              2           0
38     NaN              2           0
27     NaN              2           0
24     NaN              2           0
12     NaN              2           0
56     NaN              2           0

[20 rows x 43 columns]

In [25]:
# count the number of 1 per column
pet_likes = {}
for col in pet_swipe.columns:
    if col!='fullname':
        pet_likes[col] = pet_swipe[col].sum()

# sort the dictionary by value
sorted_pet_likes = dict(sorted(pet_likes.items(), key=lambda item: item[1], reverse=True))

print(sorted_pet_likes)

{'like_count': 507, 'dislike_count': 443, 'Laura': 19.0, 'IG': 18.0, 'Meldy': 17.0, 'Pumi': 17.0, 'Walter White': 17.0, 'Friendly': 16.0, 'Alice': 16.0, 'Violet': 16.0, 'Foggy': 15.0, 'Eagle': 15.0, 'Cow': 14.0, 'Banoi': 14.0, 'Arya': 14.0, 'Sasha': 13.0, 'Tiki': 13.0, 'Cornelia': 13.0, 'Bridget Boy': 13.0, 'Magdalena': 13.0, 'Tiktok': 13.0, 'Skyler': 12.0, 'Sawyer': 12.0, 'Lot': 12.0, 'Usagi': 12.0, 'Post': 11.0, 'Tender': 11.0, 'Tali': 11.0, 'Haley': 10.0, 'Cleo': 10.0, 'JL': 10.0, 'Princess Anna': 10.0, 'Momo': 10.0, 'Tala': 10.0, 'Mita': 10.0, 'Menchie': 10.0, 'Whitey': 9.0, 'Novy': 9.0, 'Shadow': 9.0, 'Blessing': 8.0, 'Lucy': 7.0, 'Heath': 7.0}

In [26]:
user_features.head()

,houseType,petsVaccinated,familySupport,allergies,petsNeutered,liveAlone,fullname,currentPetTypes,petsAllowed,about,timestamp,hasPets,childrenBelow12,uid
0,condo,yes,no,no,no,no,Julia Chua,['mixed_dog'],yes,I am a girl. And 7 years old,2024-08-18 09:07:07.360000+00:00,yes,yes,2RUwYE3RBT2SFgpJdYqc
1,condo,yes,yes,no,yes,no,Rowhe Siy,['mixed_cat'],yes,test,2024-08-14 13:03:26.625000+00:00,yes,no,30b1WyU5AyFxJsYkbIn4
2,house with backyard,NaN,no,yes,NaN,no,Gerard Ambrocio,[],yes,I don't have pet,2024-08-15 05:16:33.581000+00:00,no,no,4ExeWR50YmpclFxDjv5h
3,house with backyard,NaN,yes,no,NaN,no,Rica Angela Lumbang,[],yes,"I am living in San Pedro, Laguna and working a...",2024-08-15 05:41:30.173000+00:00,no,no,4zi8rWewl6j5fMKo9piY
4,townhouse,NaN,no,yes,NaN,no,Allan Tan,[],yes,I really don't have pets and my wife and kids ...,2024-08-15 03:29:57.412000+00:00,no,no,5lkwOlIgMfA4vGQCDU94

In [39]:
# calculate the score for each user
for user_index in user_features.index:
    user_score = 0
    user = user_features.loc[user_index]
    if user['houseType'] == 'house with backyard':
        user_score += 1
    if user['houseType'] == 'townhouse':
        user_score += 1
    if user['petsVaccinated'] == 'yes':
        user_score += 1
    if user['familySupport'] == 'no':
        user_score -= 1
    if user['petsAllowed'] == 'no':
        user_score -= 3
    if user['allergies'] == 'yes':
        user_score -= 3
    if user['petsNeutered'] == 'no':
        user_score -= 1
    if user['childrenBelow12'] == 'yes':
        user_score -= 1
    user_features.loc[user_index, 'score'] = user_score
# sort the users by score
sorted_users = user_features.sort_values(by='score', ascending=False)
display(sorted_users)

,houseType,petsVaccinated,familySupport,allergies,petsNeutered,liveAlone,fullname,currentPetTypes,petsAllowed,about,timestamp,hasPets,childrenBelow12,uid,score
25,house with backyard,yes,yes,no,yes,no,Morris Marquez,"['pure_cat', 'mixed_cat', 'mixed_dog']",yes,I work remotely and currently taking a post-gr...,2024-08-12 12:33:36.359000+00:00,yes,no,RznNabxMYawLKkDSMgyA,2.0
19,house with backyard,yes,NaN,no,yes,yes,All Pet Lover,"['mixed_cat', 'pure_dog', 'mixed_dog', 'pure_c...",yes,Likes All the Pets,2024-08-11 13:12:03.606000+00:00,yes,NaN,MFoSwa0LI9bhyZX6b9SD,2.0
10,townhouse,yes,NaN,no,yes,yes,Cat Lover,"['pure_cat', 'mixed_cat']",yes,Seed User for Cat Lovers,2024-08-11 07:38:19.689000+00:00,yes,NaN,CAonLOZI7oceK9IMof6b,2.0
16,townhouse,yes,NaN,no,yes,yes,Senior,"['mixed_dog', 'mixed_cat']",yes,Likes senior pets,2024-08-11 13:05:10.696000+00:00,yes,NaN,GSah822iRSZRs1Lqa6qG,2.0
44,house with backyard,yes,NaN,no,yes,yes,Dog Lover,"['pure_dog', 'mixed_dog']",yes,Seed User for Dog Lover,2024-08-11 07:33:51.366000+00:00,yes,NaN,nCsDqz3D9QypEgLVtDa8,2.0
42,condo,yes,NaN,no,yes,yes,Emily,"['pure_cat', 'mixed_dog']",yes,Love silly cats,2024-08-18 07:11:05.373000+00:00,yes,NaN,lW7gZbOEOIwjHk9qrAMp,1.0
32,townhouse,yes,yes,no,no,no,Dominic Antigua,['pure_dog'],yes,I have two French Bulldog puppies.,2024-08-15 13:04:37.101000+00:00,yes,no,Yt76ETlztQqMHpYRui6G,1.0
1,condo,yes,yes,no,yes,no,Rowhe Siy,['mixed_cat'],yes,test,2024-08-14 13:03:26.625000+00:00,yes,no,30b1WyU5AyFxJsYkbIn4,1.0
36,condo,yes,NaN,no,yes,yes,L Valencia,['mixed_cat'],yes,I am a calm person,2024-08-15 05:26:50.221000+00:00,yes,NaN,elDJBMy8wRF0LZwIXBh0,1.0
26,condo,yes,yes,no,yes,no,Rowhe Siy,['mixed_cat'],yes,test,2024-08-14 13:03:26.704000+00:00,yes,no,T5lSZ2auVxMCVIj2RnPN,1.0
24,condo,yes,NaN,no,yes,yes,Chloe Borromeo,['pure_dog'],yes,I am 24 years old full time working student. I...,2024-08-18 23:43:25.240000+00:00,yes,NaN,RWhRHq7gm6sXiqzCoOvt,1.0
37,condo,yes,yes,no,yes,no,Rowhe Siy,['mixed_cat'],yes,Testing,2024-08-22 12:47:37.205000+00:00,yes,no,fZitrG9z0OUuEASboax9,1.0
41,condo,yes,yes,no,yes,no,Rowhe Siy,['mixed_cat'],yes,Testing,2024-08-22 12:47:37.611000+00:00,yes,no,kMnpJqTvlur7e946KCSe,1.0
17,house with backyard,yes,yes,no,no,no,Jethro Fajardo,"['pure_dog', 'mixed_dog']",yes,MSDS student,2024-08-15 05:08:30.007000+00:00,yes,no,IMOZDzj1JB209QwvTvoa,1.0
29,townhouse,yes,yes,no,no,no,Lorraine Rañoa,['pure_dog'],yes,Have 1 dog. Would like to adopt someday. Love ...,2024-08-15 06:21:16.973000+00:00,yes,no,UWL32U7xtSjJ3tkgtRU9,1.0
43,house with backyard,NaN,yes,no,NaN,no,Daniel,[],yes,Lorem ipsum dolor,2024-08-17 05:27:52.247000+00:00,no,no,mTG7rOxZ40awYOvtHlu5,1.0
12,townhouse,NaN,NaN,no,NaN,yes,Mary June Ricana,[],yes,Pet enthusiast,2024-08-12 12:31:01.504000+00:00,no,NaN,EIFYpf67dETk2OYF7lYC,1.0
45,house with backyard,NaN,yes,no,NaN,no,Younglings,[],yes,Likes younger pets,2024-08-11 13:00:19.568000+00:00,no,no,nW4Tw09WCtNEmxzxIhoU,1.0
48,house with backyard,yes,yes,no,no,no,Jovi Msniago,"['mixed_cat', 'pure_dog', 'mixed_dog']",yes,I LOVE DOGS,2024-08-22 04:59:20.534000+00:00,yes,no,qFt0kYl6HlZutMJEMd9D,1.0
8,house with backyard,no,yes,no,yes,no,King Aaron Cruz,['mixed_cat'],yes,An engineering professional who likes to spend...,2024-08-21 12:38:37.699000+00:00,yes,no,BV0XS5YRAJYIAcU45UOC,1.0
7,house with backyard,yes,yes,no,no,no,Anthony Seumal,['pure_dog'],yes,MSDS student,2024-08-15 06:11:06.281000+00:00,yes,no,8sNyFvwTSnQetzQ3xdUc,1.0
6,townhouse,NaN,NaN,no,NaN,yes,Mary June Ricana,[],yes,Pet enthusiast,2024-08-12 12:31:01.597000+00:00,no,NaN,7RLxJshwPg9oonWFmGHg,1.0
50,house with backyard,NaN,NaN,no,NaN,yes,Test User,[],yes,Testing,2024-08-11 13:39:13.358000+00:00,no,NaN,sSrgb82xQzOIhnPNClkv,1.0
3,house with backyard,NaN,yes,no,NaN,no,Rica Angela Lumbang,[],yes,"I am living in San Pedro, Laguna and working a...",2024-08-15 05:41:30.173000+00:00,no,no,4zi8rWewl6j5fMKo9piY,1.0
40,townhouse,yes,yes,no,no,no,Alyssa Valerio,['mixed_dog'],yes,"love reading, cooking, and some outdoorsy acti...",2024-08-21 12:12:58.627000+00:00,yes,yes,juOVJbsKalJ2WsVtDAbi,0.0
39,condo,yes,yes,no,no,no,Irene Therese Patacsil,['pure_dog'],yes,MSDS Part time student. I love dogs,2024-08-17 01:31:06.068000+00:00,yes,no,iijMqLJPZG0cuEftPMAj,0.0
38,condo,NaN,yes,no,NaN,no,Camila,[],yes,"Love to travel, choir nerd, introvert by natur...",2024-08-15 06:04:42.405000+00:00,no,no,hPv17EorZnTFhovnTF0Z,0.0
51,condo,yes,yes,no,no,no,Val Anthony Balagon,['mixed_dog'],yes,I like staying at home.,2024-08-18 10:45:32.342000+00:00,yes,no,uTUEa5pXsITcKgTE5qzN,0.0
54,condo,yes,NaN,no,no,yes,Francis Jether Siao,['pure_dog'],yes,Data scientist,2024-08-15 07:23:08.932000+00:00,yes,NaN,wtnBIfwH5Dkaz2xYROm0,0.0
28,house with backyard,yes,yes,no,no,no,Ezra Dela pena,['mixed_dog'],yes,"Average height, asian",2024-08-15 06:11:04.432000+00:00,yes,yes,UPNuozKuMdE5sS6C0OuD,0.0
56,townhouse,NaN,yes,no,NaN,no,Hector Louis Banda,[],yes,"I am 30 years old. I like outdoor activities, ...",2024-08-18 12:09:37.720000+00:00,no,yes,zr0MZqHpNZJKBjrJFCaV,0.0
13,condo,NaN,yes,no,NaN,no,Cherisse,[],yes,I love pets. I live in a condo. I am not that ...,2024-08-17 05:26:58.357000+00:00,no,no,EQthUhMjw5HEOzTfJlmg,0.0
18,condo,yes,yes,no,no,no,dpgz,['pure_dog'],yes,I love dogs.,2024-08-15 07:18:23.242000+00:00,yes,no,IZLNIF2JOxHOVbhU0QEU,0.0
5,condo,NaN,yes,no,NaN,no,Camila zzzz,[],yes,"Love to travel, love labradors, love kdrama. W...",2024-08-15 06:16:51.181000+00:00,no,no,7LrF8i6XrZZockxt1kFc,0.0
9,condo,NaN,yes,no,NaN,no,Camila,[],yes,"Love to travel, choir nerd, introvert by natur...",2024-08-15 06:04:42.485000+00:00,no,no,C852NNkVHsruoNTv90Vo,0.0
11,townhouse,NaN,yes,no,NaN,no,Hector Louis Banda,[],yes,"I am 30 years old. I like outdoor activities, ...",2024-08-18 12:09:37.786000+00:00,no,yes,E7QEIqOOgaY0sZ08gdBa,0.0
14,condo,yes,NaN,no,no,yes,Florence Sison,['pure_dog'],yes,I'm a city-dweller with my trusty English bull...,2024-08-18 12:09:31.252000+00:00,yes,NaN,FEijvB6wCfDs3ZPJjnsZ,0.0
23,house with backyard,yes,no,no,no,no,Gianni Quiddaoen,['mixed_dog'],yes,"On pets, strays deserve love",2024-08-17 05:22:41.701000+00:00,yes,no,RJmu1dA315ShwErTqSad,0.0
22,condo,yes,NaN,no,no,yes,Francis Jether Siao,['pure_dog'],yes,Data scientist,2024-08-15 07:23:09.004000+00:00,yes,NaN,R9pzZdaUv1p4yONqrais,0.0
15,condo,yes,yes,no,yes,no,Francis Tall0,['mixed_dog'],yes,"A dog owner, generally an animal lover.",2024-08-21 13:37:14.468000+00:00,yes,yes,GMlonqSJJm29QgVZjtTS,0.0
20,house with backyard,yes,no,no,no,no,Gianni Quiddaoen,['mixed_dog'],yes,Are pets bound by something?,2024-08-17 05:29:07.833000+00:00,yes,no,PahvCth2lO9A75uw3ef2,0.0
31,condo,yes,no,no,no,no,Julia Chua,['mixed_dog'],yes,I am a girl. And i am 7 years old,2024-08-18 09:01:52.582000+00:00,yes,yes,YF5e1ETHzA8wo8AtKNyd,-2.0
27,condo,yes,no,no,no,no,Julia Chua,['mixed_dog'],yes,I am a girl. And i am 7 years old,2024-08-18 08:58:58.195000+00:00,yes,yes,UM93dWnxkWr2BWxuRYYH,-2.0
35,condo,yes,no,no,no,no,Julia Chua,['mixed_dog'],yes,I am a girl. And i am 7 years old,2024-08-18 08:59:47.978000+00:00,yes,yes,dm2ABGSrP1A003ZG2rHt,-2.0
33,condo,yes,no,no,no,no,Julia Chua,['mixed_dog'],yes,I am a girl. And i am 7 years old,2024-08-18 08:58:57.697000+00:00,yes,yes,b9j8ZwiVa4M4jqcslxNt,-2.0
0,condo,yes,no,no,no,no,Julia Chua,['mixed_dog'],yes,I am a girl. And 7 years old,2024-08-18 09:07:07.360000+00:00,yes,yes,2RUwYE3RBT2SFgpJdYqc,-2.0
30,townhouse,NaN,no,no,NaN,no,Allan Tan 2 - Cats,[],no,All Cats,2024-08-15 04:57:59.893000+00:00,no,no,UndY4Lk4S8f5njFP99uZ,-3.0
46,condo,yes,yes,yes,no,no,Ron Lao,['pure_dog'],yes,"I'm 25, I have a pet beagle right now, but I'v...",2024-08-21 12:03:53.495000+00:00,yes,no,nZ0bBD49qy9UTGL0KETo,-3.0
47,house with backyard,NaN,no,yes,NaN,no,Gerard Ambrocio,[],yes,I don't have pet,2024-08-15 05:16:33.531000+00:00,no,no,pPl48yAgu2SIDVy0AKQB,-3.0
4,townhouse,NaN,no,yes,NaN,no,Allan Tan,[],yes,I really don't have pets and my wife and kids ...,2024-08-15 03:29:57.412000+00:00,no,no,5lkwOlIgMfA4vGQCDU94,-3.0
52,condo,yes,yes,no,no,no,Michael Lawrence Castanares,['mixed_dog'],no,A physicist with data analytics experience in ...,2024-08-15 12:17:34.408000+00:00,yes,no,vHFL8L5r6VKS2cZECBAa,-3.0
2,house with backyard,NaN,no,yes,NaN,no,Gerard Ambrocio,[],yes,I don't have pet,2024-08-15 05:16:33.581000+00:00,no,no,4ExeWR50YmpclFxDjv5h,-3.0
55,condo,yes,yes,yes,no,no,Ron Lao,['pure_dog'],yes,"I'm 25, I have a pet beagle right now, but I'v...",2024-08-21 12:03:53.932000+00:00,yes,no,yDhT1TpLmnYsu8UMnamH,-3.0
34,condo,NaN,no,no,NaN,no,Another user test cats,[],no,Sample,2024-08-16 02:28:50.556000+00:00,no,no,cJU95CqmLrJyQQInZn8T,-4.0
49,condo,NaN,no,no,NaN,no,Julie Co,[],no,A busy bee. Wants to adopt a pet but don't hav...,2024-08-21 11:58:27.324000+00:00,no,no,rkiSi8rLYraufWOBlSQX,-4.0
53,condo,no,NaN,yes,no,yes,Jian Asiado,['other'],yes,I have an allergic rhinitis. I can only deal w...,2024-08-12 13:45:09.435000+00:00,yes,NaN,wFp8z5BJ6zUJwZTBtJ91,-4.0
21,condo,NaN,NaN,yes,NaN,yes,No Pets,[],no,Dislikes All Pets,2024-08-11 13:14:30.125000+00:00,no,NaN,Q6P0y7i9ViTyWhuWbABG,-6.0